<div>
  <link href="./frame31.css" rel="stylesheet" />
  <div class="frame31-frame31">
    <div class="frame31-greenremovebgpreview2">
      <img
        alt="greenremovebgpreview1I204"
        src="public/logo-600w.png"
        class="frame31-greenremovebgpreview1"
      />
    </div>
    <div class="frame31-group13">
      <span class="frame31-text"><span>Useful links</span></span>
      <span class="frame31-text02"><span>About Us</span></span>
      <span class="frame31-text04"><span>Sitemap</span></span>
      <span class="frame31-text06"><span>Terms of Use</span></span>
      <span class="frame31-text08"><span>Privacy Policy</span></span>
    </div>
  </div>
</div>
